.name {
    font-family: 'Fjalla One', sans-serif;
    font-size: 6rem;
}
.profile-picture {
height: 300px;
width: 300px;
}
.card {
    width: 15rem;
    text-align: center;
    padding-top: 20%;
    background-color: #FDC7C7;
    margin-bottom: 20%;
}
.card-text, .brand-statement {
    font-family: 'Cantarell', sans-serif;
}
.card-body {
margin-bottom: 10%;
}
#banner-1 {
    background-color: #FDC7C7;
    height: 150px;
}
#banner-2 {
background-color: #FF8686;
height: 150px;

}
#banner-3 {
background-color: #FB4444;
height: 150px;
}
#banner-4 {
background-color: #FF0000;
height: 150px;
}
.brand-statement {
font-size: 18px;
padding-top: 5%;
}
img {
padding-top: 5%;
height: 150px;
width: 150px;
padding-bottom: 5%;
}
footer {
text-align: center;
}
a {
color: black;
text-align: center;
}
button {
    font-family: 'Cantarell', sans-serif;
    font-weight: 900; 
}
